{% extends "base.html" %}

{% block title %}
Analytics
{% endblock %}

{% block main %}

<form class="form-group row g-3 mb-3 mt-1" action="/analytics" method="get">
<div class="col mb-3"> 
	<label for="id">Filter by animal Id</label>
</div>
<div class="col mb-3">
	<select class="form-select" name="id" type="text">
		<option disabled selected="true" >Id</option> 
		{% for id in animals %}
		<option value={{ id }}>{{id}}</option>
		{% endfor %}
	</select>
</div>
<button type="submit" class="btn btn-primary col mb-3">Filter</button>
</form>

<div class="container">
	<div class="row">
		<div class="col overflow-auto" id="barChartWrapper">
			<label>Production per day</label>
			<svg id="barChart"></svg>
		</div>
	</div>
	<div class="row">
		<div class="col overflow-auto">
			<table class="table table-striped table-hover table-bordered overflow-scroll">
				<thead>
					<tr>
						Production per day
					</tr>
					<tr>
						<th> ID </th>
						{% for date in dates %}
						<th>{{ date }} </th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for a_id in animals %}
					<tr>
					{% set idx = animals[a_id] %}
					<th scope="row">{{ a_id }}</th>
						{% for date in dates %} 
							{% if date in production[idx]["records"] %}
							<td> {{ production[idx]["records"][date] }} </td>
							{% else %}
							<td> - </td>
							{% endif %}
						{% endfor %}
					{% endfor %}
					</tr>
					<tr> 
						<th scope="row">Total</th>
						{% for date in dates %} 
						<td>{{ totals[date] }}</td>
						{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col overflow-auto" id="rankingChartWrapper">
			<label>Average production per animal</label>
			<svg id="rankingChart"></svg>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script>
	const barChartDataUrl = "{{ url_for('get_barchart_data', id=animal) }}";

	const barChartAllUrl = "{{ url_for('get_barchart_data') }}";

	const rankingChartDataUrl = "{{ url_for('get_avg_per_animal', id=animal) }}";
</script>
<script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
