{% extends "base.html" %}

{% block title %}
Animals
{% endblock %}

{% block main %}

<form hx-post="/animals" hx-target="main" hx-swap="beforebegin">
	<div class="form-group row g-3 mb-3 mt-1">
		<div class="col">
			<input autocomplete="off" required autofocus class="form-control mx-auto w-50" name="tag" placeholder="Tag"
				type="number">
		</div>
		<div class="col">
			<input class="form-control mx-auto w-auto" required name="name" placeholder="Name" type="text"
				autocomplete="off" />
		</div>
		<div class="col">
			<div class="row mb-3">
				<label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
				<input class="form-control mx-auto w-auto" name="birthday" type="date" />
			</div>
		</div>
		<div class="col">
			<button class="btn btn-primary" type="submit">Add new cow</button>
		</div>
	</div>
</form>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th scope="col">Tag n#</th>
			<th scope="col">Name</th>
			<th scope="col">Born on</th>
			<th scope="col"></th>
			<th scope="col">Edit</th>
		</tr>
	</thead>
	<tbody class="align-middle">
		{% for cow in cows %}
		<tr hx-target="this" hx-swap="outerHTML">
			<th scope="row">{{ cow.id }}</th>
			<td>{{ cow.name }}</td>
			<td>{{ cow.birthday }}</td>
			<td><a href="/analytics?id={{cow.id}}">See more</td>
			<td>
				<button class="btn btn-secondary" hx-get="/animals/edit?id={{cow.id}}">edit</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
